/Dictionary with UI/nbproject/private/
/Dictionary with UI/build/
/2 - Dictionary Command Line Update/Update - NetBeans/nbproject/private/
/2 - Dictionary Command Line Update/Update - NetBeans/build/
/3 - Dictionary Command Line Final/Final - NetBeans/nbproject/private/
/3 - Dictionary Command Line Final/Final - NetBeans/build/
/3 - Dictionary Command Line Final/test/nbproject/private/
/3 - Dictionary Command Line Final/Simple UI Dictionary/nbproject/private/
/Simple UI Dictionary/nbproject/private/
/Simple UI Dictionary/build/
/Dictionary - Simple UI/nbproject/private/
/Dictionary - Simple UI/build/
/TestSqlite/nbproject/private/
/TestSqlite/build/
/Dictionary - Simple UI/dist/
/Dictionary - Fx UI/nbproject/private/
/Dictionary - Fx UI/build/
/Dictionary - Final UI/nbproject/private/
/Dictionary - Final UI/build/
/Dictionary/nbproject/private/
/Dictionary/build/
/Dictionary/dist/
/Dictionary - FX UI/nbproject/private/
/Dictionary - FX UI/dist/
/Dictionary - FX UI/build/
/Test_UI_Tranparett/nbproject/private/
/Test_UI_Tranparett/build/
/Test_UI_Tranparett/dist/
/3 - Dictionary Command Line Final/Final - NetBeans/dist/
/Dictionary Command Line Final/Final - NetBeans/nbproject/private/